:root {
    --card-color:#347cda;
    --BackGround-color:#494949;
    --PlaceHolder-color:#0084ff;
    --text-color:#ffffff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--PlaceHolder-color);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--PlaceHolder-color);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--PlaceHolder-color);
  }

h4{
    margin: 0;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    font-size: 1.8vw;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 2%;
}

#searchBar {
    color: white;
    width: 50%;
    padding: 1%;
    font-size: 1.8vw;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    border-radius: 20px;
    color:var(--PlaceHolder-color);
    background-color:var(--BackGround-color);
    text-shadow: 1px 1px 5px black;
}
.background {
    background-color: var(--BackGround-color);
    margin: 0;
    padding: 1%;
}
.end-page{
    margin-top: 2%;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end-page p{
    margin: 8px auto;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 1px 1px 1px black;
}